<div class="slide-services-module">

  <!-- Start Home Slider -->
  <div id="slider">

    <!-- START REVOLUTION SLIDER 3.1 rev5 fullwidth mode -->
    <div class="fullwidthbanner-container">
      <div class="fullwidthbanner">
        <ul>

          <!-- SLIDE 1 -->
          <li data-transition="fade" data-slotamount="7" data-masterspeed="300">
            <!-- MAIN IMAGE -->
            <img src="../../../content/images/slide-02-bg.jpg" data-fullwidthcentering="on" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

            <!-- LAYER NR. 1 -->
            <div class="tp-caption uppercase big_font_size boldest_font_weight dark_font_color sft start"
                 data-x="540"
                 data-y="125"
                 data-speed="300"
                 data-start="1600"
                 data-easing="easeOutExpo">
              New Zealand Tax<br><span class="accent-color">Solutions</span>
            </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption medium_font_size regular_font_weight dark_font_color sfl start"
                 data-x="540"
                 data-y="208"
                 data-speed="300"
                 data-start="1900"
                 data-easing="easeOutExpo">
              Paid Taxes in New Zealand or you need a tax number?
            </div>

            <!-- LAYER NR. 3 --> <!--mini_font_size light_font_weight-->
            <div class="tp-caption medium_font_size regular_font_weight gray_font_color sfr start"
                 data-x="540"
                 data-y="250"
                 data-speed="300"
                 data-start="2200"
                 data-easing="easeOutExpo">
              This is the right place for you!
              <!--Sed ut perspiciatis unde omnis iste natus error sit voluptatem<br />accusantium doloremque laudantium, totam rem aperiam.-->
            </div>

            <!-- LAYER NR. 4 -->
            <div class="tp-caption sfb start"
                 data-x="540"
                 data-y="314"
                 data-speed="300"
                 data-start="2500"
                 data-easing="easeOutExpo">
              <a [routerLink]="urls.services.newZeanland.itr.url"
                 class="tp-caption btn-system btn-large border-btn"
                 title="{{urls.services.newZeanland.itr.msg}}">Get Free Tax Estimation</a>
            </div>

            <!-- LAYER NR. 5 -->
            <div class="tp-caption sfb start"
                 data-x="750"
                 data-y="314"
                 data-speed="300"
                 data-start="2500"
                 data-easing="easeOutExpo">
              <a [routerLink]="urls.services.newZeanland.ird.url" class="tp-caption btn-system btn-large border-btn btn-gray" title="{{urls.services.newZeanland.ird.msg}}">Get Your IRD Number</a>
            </div>

            <!-- LAYER NR. 6 -->
            <div class="tp-caption sfl start"
                 data-x="180"
                 data-y="bottom"
                 data-speed="1000"
                 data-start="1000"
                 data-easing="Power1.easeOut">
              <img src="../../../content/images/slide-02-image-01.png" alt="" />
            </div>

          </li>

          <!-- SLIDE 2  -->
          <li data-transition="fade" data-slotamount="7" data-masterspeed="300">
            <!-- MAIN IMAGE -->
            <img src="../../../content/images/slide-03-bg.jpg" data-fullwidthcentering="on" alt="slidebg2" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat"><!--*@-->

            <!-- LAYER NR. 1 -->
            <div class="tp-caption mini_font_size bold_font_weight dark_font_color gray_bg sfl start"
                 data-x="left"
                 data-y="50"
                 data-speed="300"
                 data-start="1600"
                 data-easing="easeInOutExpo">
              Easy to use online process
            </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption mini_font_size bold_font_weight dark_font_color gray_bg sfr start"
                 data-x="left"
                 data-y="90"
                 data-speed="300"
                 data-start="1900"
                 data-easing="easeInOutExpo">
              Takes less than 10 minutes to finish the process
            </div>

            <!-- LAYER NR. 3 -->
            <div class="tp-caption mini_font_size bold_font_weight dark_font_color gray_bg sfl start"
                 data-x="left"
                 data-y="130"
                 data-speed="300"
                 data-start="2200"
                 data-easing="easeInOutExpo">
              Adaptive form asking only the details relevant for you
            </div>

            <!-- LAYER NR. 4 -->
            <div class="tp-caption  mini_font_size bold_font_weight dark_font_color gray_bg sfr start"
                 data-x="left"
                 data-y="170"
                 data-speed="300"
                 data-start="2500"
                 data-easing="easeInOutExpo">
              Free online calculator
            </div>

            <!-- LAYER NR. 5 -->
            <div class="tp-caption mini_font_size bold_font_weight dark_font_color gray_bg sfl start"
                 data-x="left"
                 data-y="210"
                 data-speed="300"
                 data-start="2800"
                 data-easing="easeInOutExpo">
              Maximum refund legally possible
            </div>

            <!-- LAYER NR. 6 -->
            <div class="tp-caption mini_font_size bold_font_weight dark_font_color gray_bg sfr start"
                 data-x="left"
                 data-y="250"
                 data-speed="300"
                 data-start="3100"
                 data-easing="easeInOutExpo">
              Flat fee (no additional hidden fees)
            </div>

            <!-- LAYER NR. 7 -->
            <div class="tp-caption mini_font_size bold_font_weight dark_font_color gray_bg sfr start"
                 data-x="left"
                 data-y="290"
                 data-speed="300"
                 data-start="3100"
                 data-easing="easeInOutExpo">
              Access our website from any device
            </div>

            <!-- LAYER NR. 8 -->
            <div class="tp-caption mini_font_size bold_font_weight dark_font_color gray_bg sfr start"
                 data-x="left"
                 data-y="330"
                 data-speed="300"
                 data-start="3100"
                 data-easing="easeInOutExpo">
              Always know the stage of your application
            </div>

            <!-- LAYER NR. 9 -->
            <div class="tp-caption mini_font_size bold_font_weight dark_font_color gray_bg sfr start"
                 data-x="left"
                 data-y="370"
                 data-speed="300"
                 data-start="3100"
                 data-easing="easeInOutExpo">
              Secure 128-bit encrypted SSL link
            </div>

            <!-- LAYER NR. 10 -->
            <div class="tp-caption sfr start"
                 data-x="center"
                 data-y="60"
                 data-hoffset="100"
                 data-speed="600"
                 data-start="1000"
                 data-easing="easeOutBack"
                 style="z-index: 2">
              <img src="../../../content/images/laptop111.png" alt="" />
            </div>

            <!-- LAYER NR. 11 -->
            <div class="tp-caption sfl start"
                 data-x="right"
                 data-y="70"
                 data-hoffset="-100"
                 data-speed="600"
                 data-start="1300"
                 data-easing="easeOutBack"
                 style="z-index: 1">
              <img src="../../../content/images/slide-03-image-02.png" alt="" />
            </div>

          </li>

          <!-- SLIDE 3  -->
          <li data-transition="fade" data-slotamount="7" data-masterspeed="300">
            <!-- MAIN IMAGE -->
            <img src="../../../content/images/slide-01-bg.jpg" data-fullwidthcentering="on" alt="slidebg3" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

            <!-- LAYER NR. 1 -->
            <div class="tp-caption uppercase big_font_size boldest_font_weight dark_font_color sft start"
                 data-x="center"
                 data-y="140"
                 data-speed="300"
                 data-start="1000"
                 data-easing="easeOutExpo">
              Australian Tax <span class="accent-color">Solutions</span>
            </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption medium_font_size regular_font_weight dark_font_color sfb start"
                 data-x="center"
                 data-y="182"
                 data-speed="300"
                 data-start="1300"
                 data-easing="easeOutExpo">
              Worked in Australia? With our refunds averaging $2000
            </div>

            <!-- LAYER NR. 3 -->  <!--small_font_size light_font_weight-->
            <div class="tp-caption medium_font_size regular_font_weight gray_font_color text-center sfb start"
                 data-x="center"
                 data-y="220"
                 data-speed="300"
                 data-start="1600"
                 data-easing="easeOutExpo">
              You are at the right place. We will help you too.
            </div>

            <!-- LAYER NR. 4 -->
            <div class="tp-caption sfr start"
                 data-x="center"
                 data-y="292"
                 data-hoffset="94"
                 data-speed="600"
                 data-start="2000"
                 data-easing="easeOutExpo">
              <a [routerLink]="urls.services.australian.itr.url" class="btn-system btn-medium" title="{{urls.services.australian.itr.msg}}">Get Free Tax Estimation</a>
            </div>

            <!-- LAYER NR. 5 -->
            <div class="tp-caption sfl start"
                 data-x="center"
                 data-y="292"
                 data-hoffset="-94"
                 data-speed="600"
                 data-start="2000"
                 data-easing="easeOutExpo">
              <a [routerLink]="urls.services.australian.superannuation.url" class="btn-system btn-medium btn-gray" title="{{urls.services.australian.superannuation.msg}}">Get Your Super Now</a>
            </div>

            <!-- LAYER NR. 6 -->
            <div class="tp-caption customin start"
                 data-x="880"
                 data-y="30"
                 data-speed="1600"
                 data-start="2100"
                 data-easing="Power1.easeOut"
                 data-customin="x:300;y:-40;z:-400;rotationX:0;rotationY:0;rotationZ:-20;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;">
              <img src="../../../content/images/slide-01-image-02.png" alt="" style="width:193px; height: 231px;" />
            </div>

            <!-- LAYER NR. 7 -->
            <div class="tp-caption customin start"
                 data-x="140"
                 data-y="120"
                 data-speed="1400"
                 data-start="2600"
                 data-easing="Power1.easeOut"
                 data-customin="x:-200;y:20;z:-500;rotationX:0;rotationY:0;rotationZ:10;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;">
              <img src="../../../content/images/slide-01-image-01.png" alt="" style="width:80px; height: 101px;" />
            </div>

          </li>

        </ul>
        <div class="tp-bannertimer" style="visibility:hidden;"></div>
      </div>
    </div>

    <!-- THE SCRIPT INITIALISATION -->
    <!-- LOOK THE DOCUMENTATION FOR MORE INFORMATIONS -->
    <!--<script type="text/javascript">
      var revapi;
      jQuery(document).ready(function () {
        alert('test');

        revapi = jQuery('.fullwidthbanner').revolution({

          delay: 9000,
          startwidth: 1140,
          startheight: 450,
          hideThumbs: 200,

          thumbWidth: 100,
          thumbHeight: 50,
          thumbAmount: 3,

          navigationType: "none",
          navigationArrows: "solo",
          navigationStyle: "round",

          touchenabled: "on",
          onHoverStop: "on",

          navigationHAlign: "center",
          navigationVAlign: "bottom",
          navigationHOffset: 0,
          navigationVOffset: 20,

          soloArrowLeftHalign: "left",
          soloArrowLeftValign: "center",
          soloArrowLeftHOffset: 20,
          soloArrowLeftVOffset: 0,

          soloArrowRightHalign: "right",
          soloArrowRightValign: "center",
          soloArrowRightHOffset: 20,
          soloArrowRightVOffset: 0,

          shadow: 0,
          fullWidth: "on",
          fullScreen: "off",
          lazyLoad: "on",

          stopLoop: "off",
          stopAfterLoops: -1,
          stopAtSlide: -1,

          shuffle: "off",

          hideSliderAtLimit: 0,
          hideCaptionAtLimit: 0,
          hideAllCaptionAtLilmit: 0,
          startWithSlide: 0,
        });
      });
    </script>-->

  </div>
  <!-- End Home Slider -->

</div>
