<h1>FAQ</h1>

<blockquote>
    <strong>Fun fact:</strong> This Component was <em>lazy loaded</em> :)<br>
    Check your Network tab to see that the JS file came only when you first hit this Route.
</blockquote>

<h2>How to add a route in the app:</h2>

<ul>
    <li>Create a folder & your Component in Client\Containers\</li>
    <li>Add the Component to: Client\Containers\index.ts (this is the "barrels" file for all containers)</li>
    <li>Add the Component to MODULES & ROUTES within: \Client\app\platform-modules\app.module.ts</li>
</ul>

<h2>How can I disable Universal / SSR (Server-side rendering)?</h2>

To disable SSR, go to Views/Home/Index.cshtml and remove asp-prerender-module="Client/bootstrap-server" from the <code>"app-root"</code> 
component there in the cshtml file.

<h2>How do I prevent XHR calls from running again on the Client?</h2>

Using the provided GET from HttpCacheService as opposed to regular Http, it will automatically Cache the 
response on the server, and pass it down through the html for you, and when the Client tries to run it again, 
it will instantly grab the result from there.

<strong>This is essential for important XHR calls on a page that happen on page load</strong>

<h2>How do I have code run only in the Browser?</h2>

Angular Universal has isBrowser & isNode you can import from angular2-universal to conditionally run code. 
This is perfect for situations where code could error on the server. <strong>Also, always remember that things like 
setTimeout / setInterval / etc should always be wrapped in this</strong>, as you want to completely avoid doing them on the Server.

<pre>
{{ " 
import { isBrowser } from 'angular2-universal';

if (isBrowser) {
   // do something only in the Browser
}
"}}
</pre>

<h2>How can I use Material2 with this Repo?</h2>

For now, Material2 is still in beta, and isn't fully functioning with Universal (it will sometime soon though!), 
so temporarily disable SSR (server-side rendering) so you can use it within your application until updates come 
from Material, and you can have it rendered on the server as well. Read the Material docs to see how to add Material 
to your Angular application, with SSR disabled everything should work without any problems.

<h2>How can I use jQuery and/or some jQuery plugins with Angular Universal?</h2>

<blockquote>Note: If at all possible, try to avoid using jQuery or libraries dependent on it, as there are better, 
    more abstract ways of dealing with the DOM in Angular (2+) such as using the Renderer, etc.</blockquote>

Yes, of course but there are a few things you need to setup before doing this. First, make sure jQuery is included in 
webpack vendor file, and that you have a webpack Plugin setup for it. <code>{{ "new webpack.ProvidePlugin({ $: 'jquery', jQuery: 'jquery' })" }}</code>

Now, make sure any "plugins" etc that you have, are only included in your bootstrap-client.ts file. 
(ie: import 'slick-carousel';) In a Component you want to use jQuery, make sure to import it near the top like so:

<code>
import * as $ from 'jquery';
</code>

<strong>Always make sure to wrap anything jQuery oriented in Universal's isBrowser conditional!</strong>

<br><br>