<div>
  <div class='navbar-brand'>
    <a class="nav-link" [routerLink]="['/home']" class='navbar-link'>Angular 6 Universal & ASP.NET Core</a>
  </div>
</div>
<div>
  <div class='navbar'>
    <ul class='nav flex-column'>
      <li class="nav-item" [routerLinkActive]="['link-active']" (click)="collapseMenu()">
        <a class="nav-link" [routerLink]="['/home']">
          <i class="fas fa-home"></i> {{ 'HOME' | translate }}
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']" (click)="collapseMenu()">
        <a class="nav-link" [routerLink]="['/counter']">
          <i class="fas fa-graduation-cap"></i> {{ 'COUNTER' | translate }}
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']" (click)="collapseMenu()">
        <a class="nav-link" [routerLink]="['/users']">
          <i class="fas fa-user"></i> Rest API Demo
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']" (click)="collapseMenu()">
        <a class="nav-link" [routerLink]="['/ngx-bootstrap']">
          <i class="fas fa-user"></i> ngx-Bootstrap demo
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']" (click)="collapseMenu()">
        <a class="nav-link" [routerLink]="['/lazy']">
          <i class="far fa-star"></i> Lazy-loaded demo
        </a>
      </li>
      <!-- <li class="nav-item" [routerLinkActive]="['link-active']" (click)="collapseMenu()">
          <a class="nav-link" [routerLink]="['/chat']">
            <span class='glyphicon glyphicon-comment'></span> Chat
          </a>
        </li> -->
    </ul>
  </div>
</div>