<div class="wrapper">
  <header class="header  header--large">
    <h1 class="title">Ahhhhhhhhhhh! This page doesn't exist</h1>
    <h2 class="strapline">Not to worry. You can either head back to
      <a href="/">our homepage</a>, or sit there and listen to a goat scream like a human.</h2>
  </header>
  <div class="content  fit-vid  vid">
    <iframe src="http://www.youtube.com/embed/SIaFtAKnqBU?vq=hd720&rel=0&showinfo=0&controls=0&iv_load_policy=3&loop=1&playlist=SIaFtAKnqBU&modestbranding=1&autoplay=1"
      width="560" height="315" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
  </div>
