
<ul class="nav">
    <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/home']">
            <span class="glyphicon glyphicon-home"></span> Home
        </a>
    </li>
    <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/examples']">
            <span class="glyphicon glyphicon-education"></span> Platform Examples
        </a>
    </li>
    <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/bootstrap']">
            <span class="glyphicon glyphicon-education"></span> Bootstrap Demo
        </a>
    </li>
    <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/rest-test']">
            <span class="glyphicon glyphicon-education"></span> RestAPI Demo
        </a>
    </li>
    <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/faq']">
            <span class="glyphicon glyphicon-education"></span> FAQ
        </a>
    </li>
    <li *ngIf="!loggedIn$" [routerLinkActive]="['link-active']">
        <a [routerLink]="['/login']">
            <span class="glyphicon glyphicon-user"></span> Login
        </a>
    </li>
    <li *ngIf="loggedIn$" (click)="logout()">
        <a [routerLink]="['/']">
            <span class="glyphicon glyphicon-user"></span> Welcome, {{ user$.username }} - Logout
        </a>
    </li>
</ul>
