
<ul class="nav">
    <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/home']">
            <span class="glyphicon glyphicon-home"></span> Home
        </a>
    </li>
    <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/rest-test']">
            <span class="glyphicon glyphicon-education"></span> RestAPI Test Page
        </a>
    </li>
    <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/websocket-test']">
            <span class="glyphicon glyphicon-th-list"></span> WebSocket Test Page
        </a>
    </li>
</ul>
